@font-face {
  font-family: Cascadia Code;
  src: url("fonts/CascadiaCode.ttf");
}

html,
body,
div#root {
  overflow: hidden;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #1f1f29;
  color: white;
  font-family:
    Cascadia Code,
    sans-serif;
}

div {
  margin: 0px;
  padding: 0px;
  display: flex;
  /* box-shadow: inset 0 0 0 1px white; */
}

div.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  width: 100vw;
  height: 100vh;
}

div.grid-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

div.asset-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  max-height: 30vh;
}

div.asset-item,
div.position-item {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

div.position-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  max-height: 30vh;
}

div.table-container {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Hide scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Show scrollbar on hover */
:hover::-webkit-scrollbar,
:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

/* Show scrollbar when scrolling */
body {
  scrollbar-gutter: stable;
  /* Prevent layout shift */
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s;
}

*:hover {
  scrollbar-color: #888 transparent;
}

h3,
h4 {
  font-weight: normal;
  text-align: center;
  text-shadow: 0 0 10px #a9a4ff;
  margin: 0px;
}

td,
th {
  text-align: center;
}

th {
  position: sticky;
}

thead {
  th {
    border-bottom: 1px solid grey;
    /* Adds border between rows */
  }
}

tbody {
  tr {
    border-bottom: 1px solid grey;
    /* Adds border between rows */
  }

  tr:last-child {
    border-bottom: none;
    /* Removes border from the last row */
  }
}

table {
  width: 100%;
  /* height: 100%; */
  margin: 0 auto;
  /* border-collapse: separate; */
  /* border-radius: 5px; */
  border: 1px solid grey;
  /* position: relative; */
  table-layout: fixed;
}

tr.user-row {
  background-color: #7685d1;
}

/* Apply a border to the right of all but the last column */
table th:not(:last-child),
table td:not(:last-child) {
  border-right: 1px solid grey;
}

/* Apply a border to the bottom of all but the last row */
table > thead > tr:not(:last-child) > th,
table > thead > tr:not(:last-child) > td,
table > tbody > tr:not(:last-child) > th,
table > tbody > tr:not(:last-child) > td,
table > tfoot > tr:not(:last-child) > th,
table > tfoot > tr:not(:last-child) > td,
table > tr:not(:last-child) > td,
table > tr:not(:last-child) > th,
table > thead:not(:last-child),
table > tbody:not(:last-child),
table > tfoot:not(:last-child) {
  border-bottom: 1px solid grey;
}

input,
button {
  margin: 2px;
}

input[type="number"],
input[type="text"] {
  /* width: 85%; */
  /* padding: 10px; */
  /* margin-bottom: 15px; */
  flex: 1;
  height: 16px;
  min-width: 0;
  padding: 2px;
  border: 1px solid #fff;
  border-radius: 5px;
  /* background-color: #1c1c1c; */
  background: none;
  color: #fff;
  font-family: Cascadia Code;
}

button.order {
  width: 22px;
}

button.order,
button.register {
  /* width: 100%; */
  /* padding: 10px; */
  background: none;
  height: 22px;
  padding: 2px;
  /* background-color: #1f1f29; */
  color: #d5d5ff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: Cascadia Code;
  /* font-size: 16px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-shadow: 0 0 10px #a9a4ff;
}

button.order:hover,
button.register:hover {
  background-color: #999999;
  color: #1f1f29;
}

button.cancel {
  width: 18px;
  height: 18px;
  /* background-color: #b93e3e; */
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  font-family: Cascadia Code;
  transition: background-color 0.3s ease;
  padding: 0px;
  /* padding-bottom: 3px; */
}

button.cancel:hover {
  background-color: #c81919;
}

div.register-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
